@{
    ViewBag.Title = "About";
    //ViewBag.Person = Basistraining.RM.Comm.Person.GetPerson();
    
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<table>
    <tr>
        <th>PersonID</th>
        <th>Name</th>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(model => ViewBag.Person.PersonID)</td>
        <td>@ViewBag.Person.fullname</td>*@
    </tr>
</table>
